{% extends 'base/plantilla.html' %}

{% block content %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Listado de Cantones</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'dependencias:canton_add' %}" class="btn btn-primary"><span class="fa fa-calendar-plus"></span> Nuevo</a>
                </div>
                <div class="card-body">
                    <table id="tbl" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Cod. Distrito</th>
                                <th>Estado</th>
                                <th>Creación</th>
                                <th>Modificación</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in obj %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.codigo}}</td>
                                <td>{{i.nombre}}</td>
                                <td>{{i.distrito}}</td>
                                <td>{{i.estado|yesno:"Activo,Inactivo"}}</td>
                                <td>{{i.fc|date:"d/m/Y H:i:s" }}</td>
                                <td>{{i.fm|date:"d/m/Y H:i:s" }}</td>
                                <td>
                                    {% if not item.is_staff %}
                                    <a href="{% url 'dependencias:canton_update' i.id %}" class="btn btn-warning"> <span data-feather="edit"></span></a>
                                    <a href="{% url 'dependencias:canton_inactivate' i.id %}" class="btn btn-danger"> <span data-feather="delete"></span></a>
            
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block jspage %}
<script>
    $(document).ready(function() {
        $('#tbl').DataTable();
    });
</script>
{% endblock jspage %}